# Build Maven/Gradle
/target/
target/

# File di sistema macOS
.DS_Store

# Chiavi API locali
Java_Project/src/main/resources/config_example.properties

# Lock file e backup automatici Visual Paradigm
VisualParadigm/*.vpp.lck
VisualParadigm/.*.vpp.lck
VisualParadigm/*.vpp.bak_*
