/target/
.DS_Store
# Escludere le chiavi API locali
Java_Project/src/main/resources/config_example.properties
target/

# Escludere lock file e backup automatici nella cartella Visual Paradigm
VisualParadigm/*.vpp.lck
VisualParadigm/.*.vpp.lck
VisualParadigm/*.vpp.bak_*
